@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(27, 32, 40);
  color: white;
  font-family: 'Share Tech Mono', monospace;
}

h1{
    font-size: 4rem;
    padding: 5rem;
  }

  form{
    padding: 5rem;
  }

  input {
    border-image-source: linear-gradient(to right,rgb(255, 170, 86), rgb(240, 0, 128));
    border-width: 8px;
    border-image-slice: 1;
    color: black;
    font-size: 1.3rem;
    padding: 10px 15px;
    width: 100%;
  }

  input::placeholder{
    color: rgb(115, 115, 115);
  }

  h3{
    font-size:4rem;
    padding: 0 0 3rem 0;
    text-align: center;
  }


  .card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .card{
    border: 1px solid white;
    color: black;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 0%;
    margin-bottom: 30px;
    overflow: hidden;
  }

  .card p{
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    
  }
  
  .card>img{
    width: 100%;
  }

  .footer{
   background-color: white; 
   padding: 10px 20px;
   font-size: 1.5rem;
   font-weight: bolder;
   word-spacing: -5px;
   color: black;
  }